.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    color: #A0A0A0;
}

.panel-body {
    padding: 10px;
}

.profile-img {
    width: 120px;
    height: 120px;
    margin: 0 auto 10px;
    display: block;
}